* {
  margin: 0;
  padding: 0;
}
ul {
  margin: 0.8em 0 0.8em 1.8em;
}
header {
  margin-top: 1.5em;
  margin-bottom: 0.5em;
}
main {
  margin-top: 1.5em;
  margin-bottom: 2.5em;
}
footer {
  margin-top: 1em;
  margin-bottom: 1.5em;
}
.portal {
  display: table;
  position: absolute;
  height: 85%;
  width: 100%;
  text-align: center;
}
.portal > div {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}
.avatar {
  display: block;
  height: 160px;
  width: 160px;
  background-image: url("rabbit-toy-160x160.png");
  margin: 0 auto;
  border-radius: 50%;
}
.section {
  margin: 0.8em auto 0.4em;
}
.navigation {
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: center;
  justify-content: center;
}
.navigation-item {
  width: 8em;
  text-align: center;
}
.note {
  color: lightgray;
  font-size: smaller;
  font-weight: lighter;
}
.social img {
  width: 24px;
  padding: 2px 10px;
  background-color: #2a3439;
}
.social img:hover {
  filter: invert(1);
  background-color: transparent;
}
/* https://ar.al/2021/08/24/implementing-dark-mode-in-a-handful-of-lines-of-css-with-css-filters/ */
@media (prefers-color-scheme: dark) {
  /* Invert all elements on the body while attempting to not alter the hue substantially. */
  body {
    filter: invert(100%) hue-rotate(180deg);
  }

  /* Workarounds and optical adjustments. */

  /* Firefox workaround: Set the background colour for the html
     element separately because, unlike other browsers, Firefox
     doesn’t apply the filter to the root element’s background. */
  html {
    background-color: #111;
  }

  /* Do not invert media (revert the invert). */
  img, video, iframe {
    filter: invert(100%) hue-rotate(180deg);
  }

  /* Improve contrast on icons. */
  .icon {
    filter: invert(15%) hue-rotate(180deg);
  }

  /* Re-enable code block backgrounds. */
  pre {
    filter: invert(6%);
  }

  /* Improve contrast on list item markers. */
  li::marker {
    color: #666;
  }

  .avatar {
    filter: invert(100%) hue-rotate(180deg);
  }
}
